In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## EDA Report Summary: 

*Quick Look:*
- Unique customers: 139,452
- Unique items: 4,070
- Unique countries: 38
- Total cancelations: 9288
- Sales total (w/ cancelations): \$ 9,769,872.05
- total cancelations: \$ -896,812.49
- total sales (w/o cancelations): \$ 10,666,684.54
- large orders totals: 4849 (defined as 100+ quantities in a single purchase)
- first recorded sale date:
- last recorded sale date:
- time between sale and corresponding cancelation:
- most bought item:
- most cancelled item:

*Notes:*

In [12]:
online = pd.read_excel("Online_Retail.xlsx")
online.to_csv("online_retail.csv", index=False) 

retail = pd.read_excel("Online_Retail_2.xlsx")
retail.to_csv("Online_Retail_2.csv", index=False)

In [29]:
len(set(online["Country"]))

38

In [15]:
customers

139452

In [22]:
online.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [24]:
online.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [25]:
total_items = len(set(online["StockCode"]))

In [26]:
total_items

4070

In [40]:
# cleaning the data of extreme prices
fixed_prices = online["UnitPrice"] > 0
online = online[fixed_prices]

In [47]:
outrageous_prices = online["UnitPrice"] > 5000

online[outrageous_prices].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
15016,C537630,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:04:00,13541.33,NaN,United Kingdom
15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.33,NaN,United Kingdom
16232,C537644,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:34:00,13474.79,NaN,United Kingdom
16313,C537647,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:41:00,5519.25,NaN,United Kingdom
16356,C537651,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:49:00,13541.33,NaN,United Kingdom

In [69]:
online["Canceled"] = online["InvoiceNo"].str.contains(pat="C", na=0, regex=False)

In [68]:
online[online["Canceled"] == 1]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Canceled
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,True
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,True
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,True
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,True
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,True
...,...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom,True
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom,True
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom,True
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,True
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,True

In [72]:
online["Total_Sale"] = online["Quantity"]*online["UnitPrice"]

sum(online["Total_Sale"])

9769872.054003222

In [79]:
cancelations = online[ "Total_Sale" ] < 0
sum( online[ cancelations ][ "Total_Sale" ] )

-896812.4899999994

In [80]:
confirmed = online[ "Total_Sale" ] > 0
sum( online[ confirmed ][ "Total_Sale" ] )

10666684.544004016

In [99]:
large_orders = online[ "Quantity" ] > 100
online[large_orders]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Canceled,Total_Sale
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688.0,United Kingdom,0,50.40
178,536387,79321,CHILLI LIGHTS,192,2010-12-01 09:58:00,3.82,16029.0,United Kingdom,0,733.44
179,536387,22780,LIGHT GARLAND BUTTERFILES PINK,192,2010-12-01 09:58:00,3.37,16029.0,United Kingdom,0,647.04
180,536387,22779,WOODEN OWLS LIGHT GARLAND,192,2010-12-01 09:58:00,3.37,16029.0,United Kingdom,0,647.04
181,536387,22466,FAIRY TALE COTTAGE NIGHTLIGHT,432,2010-12-01 09:58:00,1.45,16029.0,United Kingdom,0,626.40
...,...,...,...,...,...,...,...,...,...,...
540442,581487,21137,BLACK RECORD COVER FRAME,120,2011-12-09 09:44:00,3.39,15694.0,United Kingdom,0,406.80
541286,581497,22355,CHARLOTTE BAG SUKI DESIGN,110,2011-12-09 10:23:00,2.46,NaN,United Kingdom,0,270.60
541545,581501,22319,HAIRCLIPS FORTIES FABRIC ASSORTED,180,2011-12-09 10:46:00,0.19,12985.0,United Kingdom,0,34.20
541702,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102.0,United Kingdom,0,469.44
541711,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626.0,United Kingdom,0,79.20

23796